@import "bower_components/bootstrap/less/bootstrap.less";
@import "bower_components/font-awesome/less/font-awesome.less";

@import "_variables.less";

h1 {
  font-size: 50*2px;
}

body {
  background: #f2f2f2;
  padding: 10px;
}

.layout-view {
  display: flex;
}

html, body, #main, .layout-view {
  height: 100%;
}

.panel-view {
  flex: 1;
  height: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;

  .editor-view {
    display: none;
  }
  .title-label {
    display: block;
    flex: 1;
    font-weight: 500;
    font-size: 20px;
  }

  .title-input {
    display: none;
    width: 100%;
    border: none;
    outline: none;
    background: none;
    text-align: center;
    font-size: 20px;
  }

  &.active {
    width: 60%;
    flex: auto;

    .title-label {
      display: none;
    }
    .title-input {
      display: block;
    }
    .editor-view {
      display: block;
    }
  }

  h2 {
    text-align: center;
  }
}

.editor-view {
  width: 100%;
  max-width: 830px;
  margin: 0 auto;
  height: 600px;
  flex: 1;
}

.ace-empty {
  line-height: 1.8 !important;
  color: #3c3c3c;

  .ace_heading:not(.ace_markup) {
    font-weight: 600;
  }

  .ace_markup {
    color: #b8b8b8;
  }

  .ace_active-line {
    background: transparent !important;
  }

  .ace_string {
    color: #3c3c3c;
  }
  .ace_markup.ace_underline {
    text-decoration: none;
  }

  .ace_cursor {
    color: #3c3c3c;
  }
  .ace_hidden-cursors .ace_cursor {
    opacity: 0;
  }

  .ace_marker-layer .ace_selection {
    background: #b5d6fb;
  }
}

