@import "bower_components/bootstrap/less/bootstrap.less";
@import "bower_components/font-awesome/less/font-awesome.less";

@import "_variables.less";

h1 {
  font-size: 50*2px;
}

body {
  background: #f2f2f2;
  padding: 40px;
}


.editor-view {
  width: 100%;
  max-width: 830px;
  height: 600px;
  margin: 0 auto;
}


.ace-empty {
  line-height: 1.8 !important;
  color: #3c3c3c;

  .ace_heading:not(.ace_markup) {
    font-weight: 600;
  }

  .ace_markup {
    color: #b8b8b8;
  }

  .ace_active-line {
    background: transparent !important;
  }

  .ace_string {
    color: #3c3c3c;
  }
  .ace_markup.ace_underline {
    text-decoration: none;
  }

  .ace_cursor {
    color: #3c3c3c;
  }

  .ace_marker-layer .ace_selection {
    background: #b5d6fb;
  }
}

