@import "bower_components/bootstrap/less/bootstrap.less";
@import "bower_components/font-awesome/less/font-awesome.less";

@import "_variables.less";

h1 {
  font-size: 50*2px;
}


.editor-view {
  width: 100%;
  height: 600px;
}


.ace_editor {
  line-height: 1.8 !important;
}

.ace_heading:not(.ace_markup) {
  font-weight: 600;
}

.ace_markup {
  color: #aaa;
}

.ace_active-line {
  background: transparent !important;
}
